/*Samiah Khaled #443925352*/

body{background:#D9E4DD ;
     margin:0px;
     padding: 0px;      
}
h1{ 
 border: 10px solid transparent;
  padding: 15px;
  border-color:lavenderblush;
  text-align: center;

} 

td.t1{color: red;}
td.t2{color: red;}
td.t3{color: red;}
td.t4{color: red;}
td.t5{color: red;}
td.t6{color: red;}
td.t7{color: red;}
td.t8{color: red;}