/* muneera khalid 443925376*/
body {

	background-color:#D0E4DD;
}
h1{text-align: center;
	border-style: inset;

  letter-spacing: -2px;
}

tr {border-style: solid;}
p.p1 {border-style: solid;
	text-align: center;
	border-style: inset;
	word-spacing: 40px
}

p{
	text-align: center;
}

p.1 {border-style: inset;}
td.2{border-style: inset;}
td.m{    text-decoration: underline;
	text-shadow: 0 0 3px black;
  }
  td.mm{    text-decoration: underline;
	text-shadow: 0 0 3px black;
  }
  td.s{    text-decoration: underline;
	text-shadow: 0 0 3px black;
  }
td.ss{    text-decoration: underline;
	text-shadow: 0 0 3px black;
  }
td.a{    text-decoration: underline;
	text-shadow: 0 0 3px black;
  }
  td.aa{    text-decoration: underline;
	text-shadow: 0 0 3px black;
  }
td.e{    text-decoration: underline;
	text-shadow: 0 0 3px black;
  }
  td.ee{    text-decoration: underline;
	text-shadow: 0 0 3px black;
  }
  td.f{    text-decoration: underline;
	text-shadow: 0 0 3px black;
  }
  td.ff{    text-decoration: underline;
	text-shadow: 0 0 3px black;
  }
  td.b{    text-decoration: underline;
	text-shadow: 0 0 3px black;
  }
  td.bb{    text-decoration: underline;
	text-shadow: 0 0 3px black;
  }
   td.v{    text-decoration: underline;
	text-shadow: 0 0 3px black;
  }
   td.vv{    text-decoration: underline;
	text-shadow: 0 0 3px black;
  }
   td.h{    text-decoration: underline;
	text-shadow: 0 0 3px black;
  }
 td.hh{    text-decoration: underline;
	text-shadow: 0 0 3px black;
  }
   td.z{    text-decoration: underline;
	text-shadow: 0 0 3px black;
  }
   td.zz{    text-decoration: underline;
	text-shadow: 0 0 3px black;
  }
   td.g{    text-decoration: underline;
	text-shadow: 0 0 3px black;
  }
 td.gg{    text-decoration: underline;
	text-shadow: 0 0 3px black;
  }
   td.y{    text-decoration: underline;
	text-shadow: 0 0 3px black;
  }
 td.yy{    text-decoration: underline;
	text-shadow: 0 0 3px black;
  }
   td.w{    text-decoration: underline;
	text-shadow: 0 0 3px black;
  }
 td.ww{    text-decoration: underline;
	text-shadow: 0 0 3px black;
  }
   td.c{    text-decoration: underline;
	text-shadow: 0 0 3px black;
  }
   td.cc{    text-decoration: underline;
	text-shadow: 0 0 3px black;
  }
   td.j{    text-decoration: underline;
	text-shadow: 0 0 3px black;
  }
   td.jj{    text-decoration: underline;
	text-shadow: 0 0 3px black;
  }
   td.x{    text-decoration: underline;
	text-shadow: 0 0 3px black;
  }
   td.xx{    text-decoration: underline;
	text-shadow: 0 0 3px black;
  }
























